<% include ../partials/header %>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <% if(books.length>0){ %>
                <div class="col-md-8 text-left">
                    <h1>All books uploaded by
                        <%= books[0].owner.username %>
                    </h1>
                </div>
                <% if(currentUser && books[0].owner.id.equals(currentUser._id)){ %>
                    <div class="col-md-4 text-right">
                        <form action="/user/<%= currentUser.username%>/profile">
                            <input type="submit" class="btn btn-danger" value="Change profile">
                        </form>
                    </div>
                    <% } %>
                        <% }else{ %>
                            <div class="col-md-8 text-left">
                                <h1> You haven't uploaded any books yet.
                                </h1>
                            </div>
                            <% if(currentUser){ %>
                                    <% if(currentUser.username === usr){ %>

                                        <div class="col-md-4 text-right">
                                            <form action="/user/<%= currentUser.username%>/profile">
                                                <input type="submit" class="btn btn-danger" value="Change profile">
                                            </form>
                                        </div>
                                        <% } %>
                                        <% } %>
                                            <% } %>
        </div>
        <% for(var i=0;i<books.length;i++){ %>
            <% if(i%3 == 0 && i!= 0){ %>
    </div>
    <div class="row">
        <% }else if(i==0){ %>
            <div class="row text-center">
                <%  } %>
                    <div class="col-md-4  card-space-top">
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="<%= books[i].image %>" class="img-fluid" alt="">
                                <a href="/books/<%= books[i]._id %>">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->
                            <!--Card content-->
                            <div class="card-block">
                                <!--Title-->
                                <h4 class="card-title">
                                    <%= books[i].name %>
                                </h4>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4> <i class="fa fa-inr"> <%= books[i].price %></i> </h4>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="read-more">
                                            <a href="/books/<%= books[i]._id %>" class="btn btn-success">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.Card content-->
                        </div>
                    </div>
                    <% } %>

            </div>
    </div>
    <% include ../partials/footer %>
        <!--Change profile: 
<a href="/user/<#%= currentUser.username%>/profile"> Change </a>
<% books.forEach(function(books){ %>
    <%= books.name %>
    <img src="<%= books.image %>" />
    <br />
    
<% }) %>
<br />
<%= usr %>-->